@{
    ViewBag.Title = "Sell Cash Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["Error"] != null)
{
    <div class="alert alert-error">
        <p>@TempData["Error"] <span class="closebtn" onclick="this.parentElement.parentElement.style.display='none';">&times;</span> </p>
    </div>
}

@using (Html.BeginForm("Sell", "TellerPosts"))
{
    <div class="top_info">Till Account Balance: @Math.Round(ViewBag.GlBalance, 2)</div>

    <div class=" form-signin">
        <div class="form-group ">
            <label for="amount">Amount</label>
            <div class="input-group shadow_p">
                <div class="input-group-addon borderless_right  ">
                    <i class="fa fa-money width_30 "></i>
                </div>
                <input type="number" name="amount" min="0" , step="any" class="form-control" required , placeholder="Enter Amount" />
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save</button>
        </div>

    </div>

}