@{
    ViewBag.Title = "Sell Cash Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["Error"] != null)
{
    <div class="alert alert-error">
        <p>@TempData["Error"] <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

    </div>
}

@using (Html.BeginForm("Sell", "TellerPosts"))
{
    <h2>Gl Balance: @Math.Round(ViewBag.GlBalance,2)</h2>
    <div class=" form-signin">
        <div class="form-group">

            <label for="amount">Amount</label>
            <input type="number" name="amount" min="0" , step="any" class="form-control" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save</button>
        </div>

    </div>

}