
.p-l-55 {
    padding-left: 55px;
}
.p-r-55 {
    padding-right: 55px;
}
.p-t-178 {
    padding-top: 178px;
}

.m-b-5 {
    margin-bottom: 5px;

}
m-l-5 {
    margin-left: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-16 {
    margin-bottom: 16px;
}
.m-b-40 {
    margin-bottom: 40px;
}
.m-t-10 {
    margin-top: 10px;
}
.p-b-40 {
    padding-bottom: 40px;
}


.bg_cyan {
    /*background-color: #83c4e1*/
    background-color: #708DA6
}
.bg_green {
    background-color: #6cbbae
}
.table_head .table_row {
    color: white;
}
.bg_lightBlue {
    background-color: #D1ebff
}
.bg_orange {
    background-color: #f87556
}
.color_white {
    color: white;
}
.color_lightBlue {
    color: #D1ebff
}
.color_gren {
    color: #6cbbae
}
.color_grey {
    color: #A0A0A0;
}
.color_orange {
    color: #f87556;
}
.color_darkCyan {
    color: #708da6;
}
.color_cyan {
    color: #84DBFF;
}

.bg_whitish {
    background-color: white;
}

.bg_lightGreen {
    background-color: #90b9a9;
}
.bg_darkGreen {
    background-color: #327962;
}

/*------------------------------------------------------------------
[ Focus Input ]*/
.focus-input100 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #ebebeb;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 {
    width: calc(100% + 20px);
}





/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: JosefinSans-Bold;
    src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf');
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Ubuntu-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    text-decoration: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: initial;
    }

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    /*color: #666666;*/
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

    input[type="number"] {
        -moz-appearance: textfield;
        
        -webkit-appearance: none;
    }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

textarea {
    outline: none;
    border: none;
}

    textarea:focus, input:focus {
        border-color: transparent !important;
    }


input::-webkit-input-placeholder {
    color: #1b3815;
}

input:-moz-placeholder {
    color: #1b3815;
}

input::-moz-placeholder {
    color: #1b3815;
}

input:-ms-input-placeholder {
    color: #1b3815;
}

textarea::-webkit-input-placeholder {
    color: #1b3815;
}

textarea:-moz-placeholder {
    color: #1b3815;
}

textarea::-moz-placeholder {
    color: #1b3815;
}

textarea:-ms-input-placeholder {
    color: #1b3815;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.4;
}

.txt2 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #708DA6;
    line-height: 1.4;
}

.txt3 {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #708DA6;
    line-height: 1.4;
    text-transform: uppercase;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #f5c9be;
}

.wrap-login100 {
    width: 500px;

    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);

}


/*==================================================================
[ Form ]*/

.login100-form {
    width: 100%;
    position: relative;
}


.login100-form-title {
    font-family: JosefinSans-Bold;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #708DA6;
    padding-top: 50px;
    padding-bottom: 39px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 27px;
    position: relative;
    z-index: 1;
}

.input100 {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #1b3815;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px 0 35px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #ebebeb;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 {
    width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #708DA6;
    border-radius: 25px;
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn:hover {
        background-color: #6cbbae;
    }


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 1000;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 14px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
    font-family: Ubuntu-Bold;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    z-index: 1100;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 16px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 576px) {
    .login100-form {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}*/

/*.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}*/
.user-validation-error {
    color: red;
}
.alert-success {
    -ms-transition: margin-top ease .50s;
    -o-transition: margin-top ease .50s;
    -webkit-transition: margin-top ease .50s;
    transition: margin-top ease .50s;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.date-selection input {
    height: 2.5em;
    border: 1px solid #D1D1D1;
}
.alert a {
    text-decoration: none;
}
.alert a:hover {
    cursor: pointer;
}
/*.details thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}*/
/*.details > thead > tr > th, .details > tbody > tr > th, .details > tfoot > tr > th, .details > thead > tr > td, .details > tbody > tr > td, .details > tfoot > tr > td {
    border-top: transparent;
}
.details > thead > tr > td {
    color: whitesmoke;*/
}
.cap {
    text-transform:capitalize;
}

/*.details > tbody > tr > td, .details > tbody > tr > th, .details > tfoot > tr > td, .details > tfoot > tr > th, .details > thead > tr > td, .details > thead > tr > th {
    padding: 20px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid transparent;
    font-size: 110%
}
.details { border-radius: 5px; }*/

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 19px;
}
.sidebar-menu > li > a {
    
    font-weight: bold;
}
.sidebar-menu > li.header {
    font-weight: bold;
    font-size: 110%;
    margin-top: 5px;
}
.bg_greenish {
    background-color: #00A65A;
}
.card {
    background-color: #fff;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    margin-bottom: 24px;
    border-radius: 10px;
    margin: 5px;
}
.card .dash_content {
        padding: 1.5rem;
        height: 125px;
}
 .card .bar 
{
        height: 50px;
      border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.card a:hover {
    color: white;
}
    .card a div:hover {
        font-weight: bold;
    }

    .centerlise {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
.table_extra {
    border: 1px solid #7E8E99;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
   
    color: #7E8E99;
}

.add_button {
    border: 1px solid #027BC3;
    border-radius: 15px;
    padding: 5px 9px 5px 9px;
    margin-left: 5px;
    /*font-size: 140%;*/
    margin-bottom: 10px;
    color: white;
    margin-right: 15px;
    /*font-family: Ubuntu-Regular, sans-serif;*/
    background-color: #027BC3;
    /*font-weight: bold;*/
}
    .add_button:hover {
        font-weight: bold;
        color: white
     
    }
    a.table_extra:hover {
        border: 1px solid #f87556;
        color: #f87556;
    }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 20px 20px 20px 20px;
    background-color: white;
    border-top: none;
    margin-top: 2px;
    border: none;
}


table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-left-width: 0;
    border-right-width: 0px;
}
/*table { border-collapse: separate; }
td { border: solid 1px #000; }
tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }*/
table { 
    border-collapse: separate; 
    border-spacing: 0 10px;
    margin-top: -10px;
}
   

td:first-child {
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
}
td:last-child {
    border-bottom-right-radius: 5px; 
    border-top-right-radius: 5px; 
}

.table tbody tr td:first-child {
    border-left: 4px solid #f87556;
}
.table > thead > tr > th {
    background-color: transparent;
    color:#999999
}
.details_nav {
    margin-left: 10px;
}
.option_span {
    /*padding-left: 15px;*/
}

.report > thead > tr > th, .report > tbody > tr > th, .report > tfoot > tr > th, .report > thead > tr > td, .report > tbody > tr > td, .report > tfoot > tr > td {
    padding: 7px;
    background-color: inherit;
    border-top: none;
    margin-top: 2px;
    border: none;
}
.report tbody tr td:first-child {
    border-left: none;
}
table.report {
    border-collapse: inherit;
    border-spacing: 0;
    margin-top: 0px;
}


table.report td:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

table.report td:last-child {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.top_info {
    border-left: 4px solid #027BC3;
    padding: 10px;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 10px;
    background-color: #f87556;
    width: 20%;
    color: white;
}
a {
    font-family: Ubuntu-Regular, sans-serif;
}
.business_config {
    font-weight: bold;
    font-size: 120%;
}

    .input_form:focus {
        background-color: #F6F7FB;
        border: 1px solid black
    }

.width_30 {
    width: 30px;
}
.borderless_right {
    border-right: none;
}
.borderless_left {
}
.form-group .input-group-addon {
    background-color: #F6F7FB;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
    border-radius:5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    border-left: none;
    height: 60px;
    background-color: #F6F7FB;
}
.form_details {
    padding: 20px;
    background-color: #D5D9E1;
    border: 1px solid #d2d6de;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: none;
}
.shadow_p {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.error-box {
    border: 1px solid red;
    position: relative;
    /*display: block;*/
}
.error {
    color: red;
    position: relative; 
    display: block;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/pacman.gif) center no-repeat #fff;
}