@using CBA.Core.Implementation
@model CBA.Core.Implementation.BankConfiguration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <p>@TempData["Success"] <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-success">
        <p>@TempData["Error"] <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>
    </div>

}

<h2>Index</h2>
@if (Model == null)
{
    <div>Setup Bank Configurations</div>
}
else
{
    if (Model.IsBusinessOpen)
    {
        <div>Business Is Open</div>
    }
    if (!Model.IsBusinessOpen)
    {
        <div>Business Is Closed</div>
    }
}


