@using CBA.Core.Implementation
@model CBA.Core.Implementation.BankConfiguration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <p>@TempData["Error"] <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>
    </div>

}

@if (Model == null)
{
    <div>Setup Bank Configurations</div>
}
else
{
    if (Model.IsBusinessOpen)
    {
        <div class="business_config">Business Is Open</div>
    }
    if (!Model.IsBusinessOpen)
    {
        <div class="business_config">Business Is Closed</div>
    }
}


